* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 15px;
}

.container {
  height: 100vh;
  background-color: whitesmoke;
  text-align: center;
  padding: 30px;
}

.add {
  width: 40%;
  display: flex;
  margin: auto;
}

.add input {
  padding: 5px;
  flex-grow: 1;
  border: 1px solid #0e0e7e;
  margin-right: 5px;
}

.add button {
  padding: 5px;
  background-color: #0e0e7e;
  border: none;
  color: white;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.tache {
  border: 1px solid #e1e1f4;
  background-color: #e1e1f4;
  width: 40%;
  display: flex;
  padding: 8px;
}

.tache h2 {
  flex-grow: 1;
}

.tache button {
  border: none;
  border: 2px;
  padding: 2px;
}

.tache button :nth-child(2) {
  background-color: #3429b0;
  color: #100d39;
}

.tache button :nth-child(3) {
  background-color: #820505;
  color: #2f0909;
}
